body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aliceblue;
    text-align: center;
    width: 100vw;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: fit-content;
    max-width: 60vw;
    margin-left: 20%;
    color: black;
    border:2px solid #727272;
    background-color: white;
    border-radius: 10px;
    height: 100px; 
}

#day, #year {
    max-width: 150%;
}

#submitForm {
    background-color: white;
    border-radius: 9px;
    height: 50px;
    min-width: 30%;
    margin: 20px;
    font-size: large;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: ease-in-out 0.2s;
    border: 2px solid #727272; /* Added 'solid' to specify the border style */
}

#submitForm:hover {
    background-color: rgb(255, 136, 0);
    color: aliceblue;
    box-shadow: 2px 2px rgba(255, 255, 255, 0.152);
    transition: ease-in-out 0.2s;
    border: 2px solid aliceblue; /* Updated the border color */
}

#generativeArea {
    width: 80vw;
    margin-left: 10%;
    padding: 0;
    text-align: left;
    font-size: larger;
}

#generativeArea p {
    font-size: small;
}

header {
    background-color: rgb(255, 136, 0);
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Trebuchet MS';
    font-size: x-large;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}


footer {
    background-color: rgb(255, 136, 0);
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 0%;
}

footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    margin-top: 20px;
}

/* Add responsive styles for smaller screens */
@media only screen and (max-width: 768px) {
    /* Add responsive styles here */
}
